[Unit]
Description=A plain text-based spaced repetition system 

[Service]
Type=simple
Restart=always
ExecStart=%h/.nix-profile/bin/hashcards drill --open-browser false %h/src/github.com/timka/zh-cards

[Install]
WantedBy=default.target
